section#tours.section.section-popular.scrollspy
  .container
    .row
      h2.center= titulo
      
      each tour in tours
        .col.s12.m12
          h3.header= tour.titulo
          .card.horizontal
            .card-image
              img(src=`img/${tour.imagen}`)
            .card-stacked
              .card-content
                h5= tour.subtitulo
                  br
                  br                
                table
                  tr
                    td.celda-derecha                
                      svg.icon.icon-tabler.icon-tabler-clock(xmlns='http://www.w3.org/2000/svg' width='44' height='44' viewbox='0 0 24 24' stroke-width='1.5' stroke='#2c3e50' fill='none' stroke-linecap='round' stroke-linejoin='round')
                        path(stroke='none' d='M0 0h24v24H0z' fill='none')
                        circle(cx='12' cy='12' r='9')
                        polyline(points='12 7 12 12 15 15')
                      |
                    td.celda-izquierda
                      h5= tour.duracion
              .card-action
                a(href=`tours/${tour.id}`) Ver m&aacute;s